Flow/NiFi_Flow_Parte2.json
{"flowContents":{"identifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7","instanceIdentifier":"642f114b-0185-1000-d519-a84a20089410","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8f2dcc5a-4c1a-3e31-8e7a-1bf3e37a1d2f","instanceIdentifier":"797512ed-0185-1000-2ddc-f14f9c965eeb","name":"Decoding do Arquivo","comments":"","position":{"x":-136.0,"y":352.0},"type":"org.apache.nifi.processors.standard.Base64EncodeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Mode":"Decode"},"propertyDescriptors":{"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"13c22280-f477-3c22-b955-89d05c4a03b8","instanceIdentifier":"89c7822d-0185-1000-814d-5f31ad3a3aed","name":"Gera SQL","comments":"","position":{"x":808.0,"y":376.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"table-schema-cache-size":"100","Table Name":"TB_VENDAS","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"c9fcdd47-4ece-3919-ad1a-e9fb8f81f8b4","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"07c60cda-e647-3e18-8893-e6b111e3ce05","instanceIdentifier":"73e06d6f-0185-1000-1ffc-df8d237caffb","name":"Transforma Encoding Dados","comments":"","position":{"x":496.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.Base64EncodeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Mode":"Encode"},"propertyDescriptors":{"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"4cf08b72-61dc-3fb4-8861-db00437f153e","instanceIdentifier":"796fe323-0185-1000-a79d-73b74921a9d7","name":"Extrair Dados do Data Lake","comments":"","position":{"x":-152.0,"y":40.0},"type":"org.apache.nifi.processors.hadoop.GetHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.19.1"},"properties":{"Keep Source File":"false","Hadoop Configuration Resources":"/home/nifi/hdfs/core-site.xml,/home/nifi/hdfs/hdfs-site.xml","File Filter Regex":null,"Minimum File Age":"0 sec","Filter Match Name Only":"true","Polling Interval":"0 sec","Ignore Dotted Files":"true","Maximum File Age":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Recurse Subdirectories":"true","kerberos-credentials-service":null,"Kerberos Keytab":null,"Batch Size":"100","Kerberos Principal":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","Directory":"/hduser/lab3"},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Filter Match Name Only":{"name":"Filter Match Name Only","displayName":"Filter Match Name Only","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"afae2be2-5b90-3b56-a0a9-98fb1112aa06","instanceIdentifier":"797e7aef-0185-1000-4311-ad56a67851f3","name":"Atualiza Atributo","comments":"","position":{"x":320.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","name_schema":"vendas","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"name_schema":{"name":"name_schema","displayName":"name_schema","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"08107f92-a9a6-3616-b3e4-bcd1ce80e0df","instanceIdentifier":"73ec9f0d-0185-1000-a2fa-c9e8b763c87a","name":"PutHDFS","comments":"","position":{"x":1136.0,"y":-120.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.19.1"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/home/nifi/hdfs/core-site.xml,/home/nifi/hdfs/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/hduser/lab3","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"f9ea2ea3-f33c-368d-899d-62c01936fd26","instanceIdentifier":"7986f4d4-0185-1000-52c1-69fa9abdc2f4","name":"Inferir Schema","comments":"","position":{"x":328.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"record-writer":"b1839ecc-44bb-3534-bf02-b846c271ec19","record-reader":"e53a40c9-2834-3ce5-b8f4-4e179b269ae3","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"95d1a4f4-dc86-37fc-82e9-38b684676568","instanceIdentifier":"64563295-0185-1000-0bd9-40819c17e4e0","name":"Acessando Origem dos Dados","comments":"","position":{"x":-112.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/nifi/dados","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"dataset.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"abb1f165-f322-33e7-910b-19d4c3f29273","instanceIdentifier":"89b791cd-0185-1000-f436-b89e0e3cdea7","name":"Divide JSON","comments":"","position":{"x":712.0,"y":56.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"}],"inputPorts":[],"outputPorts":[{"identifier":"92e080da-375b-3002-95a0-11a5baee0b18","instanceIdentifier":"8e69780e-0185-1000-ef8f-4d16aacd41a2","name":"Fim","position":{"x":1280.0,"y":216.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":true,"componentType":"OUTPUT_PORT","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"}],"connections":[{"identifier":"8dfbfc27-d865-36f4-abca-1b449e29ccf7","instanceIdentifier":"8e6f4393-0185-1000-ca36-b891440d50ed","name":"","source":{"id":"08107f92-a9a6-3616-b3e4-bcd1ce80e0df","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"PutHDFS","comments":"","instanceIdentifier":"73ec9f0d-0185-1000-a2fa-c9e8b763c87a"},"destination":{"id":"92e080da-375b-3002-95a0-11a5baee0b18","type":"OUTPUT_PORT","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Fim","instanceIdentifier":"8e69780e-0185-1000-ef8f-4d16aacd41a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"f8a805ef-e101-34ed-a2bb-e8ee3546845c","instanceIdentifier":"8e69a03c-0185-1000-d919-a01fbc9df7a5","name":"","source":{"id":"abb1f165-f322-33e7-910b-19d4c3f29273","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Divide JSON","comments":"","instanceIdentifier":"89b791cd-0185-1000-f436-b89e0e3cdea7"},"destination":{"id":"92e080da-375b-3002-95a0-11a5baee0b18","type":"OUTPUT_PORT","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Fim","instanceIdentifier":"8e69780e-0185-1000-ef8f-4d16aacd41a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"6a6a238c-6961-3c0a-b4ae-4e3157ff0708","instanceIdentifier":"73e2bf49-0185-1000-90ff-8113b4722ddc","name":"Fluxo de Dados 1","source":{"id":"95d1a4f4-dc86-37fc-82e9-38b684676568","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Acessando Origem dos Dados","comments":"","instanceIdentifier":"64563295-0185-1000-0bd9-40819c17e4e0"},"destination":{"id":"07c60cda-e647-3e18-8893-e6b111e3ce05","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Transforma Encoding Dados","comments":"","instanceIdentifier":"73e06d6f-0185-1000-1ffc-df8d237caffb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"7a6d2e8c-fce0-380d-9177-7dbdcc8cd075","instanceIdentifier":"73fab847-0185-1000-7231-f786d64f1f98","name":"Fluxo de Dados 2","source":{"id":"07c60cda-e647-3e18-8893-e6b111e3ce05","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Transforma Encoding Dados","comments":"","instanceIdentifier":"73e06d6f-0185-1000-1ffc-df8d237caffb"},"destination":{"id":"08107f92-a9a6-3616-b3e4-bcd1ce80e0df","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"PutHDFS","comments":"","instanceIdentifier":"73ec9f0d-0185-1000-a2fa-c9e8b763c87a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"55f48a94-23aa-34cc-b4c0-aa1381e416bd","instanceIdentifier":"89e1fc39-0185-1000-e23a-1053146ccdd0","name":"","source":{"id":"8f2dcc5a-4c1a-3e31-8e7a-1bf3e37a1d2f","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Decoding do Arquivo","comments":"","instanceIdentifier":"797512ed-0185-1000-2ddc-f14f9c965eeb"},"destination":{"id":"afae2be2-5b90-3b56-a0a9-98fb1112aa06","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Atualiza Atributo","comments":"","instanceIdentifier":"797e7aef-0185-1000-4311-ad56a67851f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"479dbe48-fb5c-3087-b02f-086219d36d90","instanceIdentifier":"89e20dbb-0185-1000-2903-9ce7767cc6e4","name":"","source":{"id":"afae2be2-5b90-3b56-a0a9-98fb1112aa06","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Atualiza Atributo","comments":"","instanceIdentifier":"797e7aef-0185-1000-4311-ad56a67851f3"},"destination":{"id":"f9ea2ea3-f33c-368d-899d-62c01936fd26","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Inferir Schema","comments":"","instanceIdentifier":"7986f4d4-0185-1000-52c1-69fa9abdc2f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"82b2efec-00f2-3e38-bf6f-c9aa0501ec21","instanceIdentifier":"89e1de8e-0185-1000-3a7a-2c972ac345e8","name":"","source":{"id":"4cf08b72-61dc-3fb4-8861-db00437f153e","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Extrair Dados do Data Lake","comments":"","instanceIdentifier":"796fe323-0185-1000-a79d-73b74921a9d7"},"destination":{"id":"8f2dcc5a-4c1a-3e31-8e7a-1bf3e37a1d2f","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Decoding do Arquivo","comments":"","instanceIdentifier":"797512ed-0185-1000-2ddc-f14f9c965eeb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"ea15a958-f4c7-32b7-babf-b339d94c2ee4","instanceIdentifier":"89e28854-0185-1000-64eb-f9834dbbcaaf","name":"","source":{"id":"abb1f165-f322-33e7-910b-19d4c3f29273","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Divide JSON","comments":"","instanceIdentifier":"89b791cd-0185-1000-f436-b89e0e3cdea7"},"destination":{"id":"13c22280-f477-3c22-b955-89d05c4a03b8","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Gera SQL","comments":"","instanceIdentifier":"89c7822d-0185-1000-814d-5f31ad3a3aed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"1ac0520c-9ccf-3f95-8358-08f1a53a92f8","instanceIdentifier":"89e2477c-0185-1000-61fc-43cd53d56166","name":"","source":{"id":"f9ea2ea3-f33c-368d-899d-62c01936fd26","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Inferir Schema","comments":"","instanceIdentifier":"7986f4d4-0185-1000-52c1-69fa9abdc2f4"},"destination":{"id":"abb1f165-f322-33e7-910b-19d4c3f29273","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Divide JSON","comments":"","instanceIdentifier":"89b791cd-0185-1000-f436-b89e0e3cdea7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"c8ec3e71-931d-370c-82d2-8ef64e247a28","instanceIdentifier":"8e6c5660-0185-1000-453e-36bf49c1630d","name":"","source":{"id":"13c22280-f477-3c22-b955-89d05c4a03b8","type":"PROCESSOR","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Gera SQL","comments":"","instanceIdentifier":"89c7822d-0185-1000-814d-5f31ad3a3aed"},"destination":{"id":"92e080da-375b-3002-95a0-11a5baee0b18","type":"OUTPUT_PORT","groupId":"633b1505-12c7-3ad1-85c7-2b457bc640b7","name":"Fim","instanceIdentifier":"8e69780e-0185-1000-ef8f-4d16aacd41a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure","sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e53a40c9-2834-3ce5-b8f4-4e179b269ae3","instanceIdentifier":"7989f6a5-0185-1000-cc0d-6ec101bb5edc","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"b1839ecc-44bb-3534-bf02-b846c271ec19","instanceIdentifier":"798cd043-0185-1000-9d00-7a8f0539a0f8","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"},{"identifier":"c9fcdd47-4ece-3919-ad1a-e9fb8f81f8b4","instanceIdentifier":"89cae01a-0185-1000-cc5b-f76a0c480aa5","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.19.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://dbdsa:5433/dwdsa","dbcp-time-between-eviction-runs":"-1","Database User":"dsalabdw","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-1.19.1/postgresql-42.5.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"633b1505-12c7-3ad1-85c7-2b457bc640b7"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}